body {
    margin:0;
    padding:0;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("images/bakery-background.png");

}
@font-face {
    font-family: Hs;
    src: url('fonts/OpenSansHebrew-Regular.ttf');
}
.container-fluid{
    display: flex;
    margin-top: 4.5%;
    margin-left: 12px;
}
.main-table{
    display: flex;
    flex-flow: column;
}
.table-headers{
    display: flex;
}
.table-headers > div{
    font-family: Hs;
    font-weight: bold;
    border:1px solid lightgray;
    box-sizing:border-box;
    text-align:center;
    width: 100%;
    height: 65px;
    background: linear-gradient(white 75%, #e0e0e0);
}
.th{
    position: relative;
    top:20px;
}
.table-rows{
    display: flex;
}
.table-row{

}
.table-row > div{
    font-family: Hs;
    font-weight: bolder;
    border:1px solid lightgray;
    box-sizing:border-box;
    text-align:end;
    padding: 25px 40px;
    width: 100%;
    height: 65px;
    background-color: white;
}

/*.table-row > div:first-child {*/
    /*background: linear-gradient(white 75%, #e0e0e0);*/
/*}*/

.side-bar {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
}

.side-bar > div {
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 2%;
    text-align: center;
    height: 30%;
    background-color: white;
}

.side-bar-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 65px;
}
.last{
    width: 100%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}
.last > div:first-child{
    visibility: hidden;
}
.last > div:nth-child(2){
    border-top-right-radius: 10px;
}

#mainlogo{
    position: absolute;
    margin-top: -8%;
    margin-left: 1.5%;
}
.orders-data{
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders-grid{
    display: inline-grid;
    font-family: Hs;
    font-weight: bold;
}
.orders-number{
    font-size: 125px;
}
.orders-id{
    font-size: 30px;
}

.orders-sum{
    color: red;
}

.orders-semi{
    color: orange;
}

.orders-full{
    color: #41cadc;
}