html{
    width: 100%;
    height: 100%;
}

body {
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-image: url("images/bakery-background.png");
}

.form-wraper {
    position: relative;
    display: block;
    background-color: white;
    width: 25%;
    margin: 25% auto;
    padding-bottom: 3%;
    border-radius: 1%;
}
#bakery-top-left {
    display: none;
}
#bakery-logo {
    display: block;
    margin: -50% auto 0 auto;
    position: relative;
    width: 60%;
    left: 3%;
}


.form-control {
    text-align: right;
    background-color:#f0f0f0;
    margin: 0 auto;
    width: 70%;
    padding: 5%;

}
.glyphicon{
    font-size: 2.8em;
}

.btn {
    background-color:#41cadc;
    width: 70%;
    margin: 0 auto;
    padding: 2.5%;
    display: block;
}

#mainlogo {
    position: relative;
}
@media (min-width: 1919px) {
    #bakery-top-left {
        display: block;
    }
    .form-wraper {
        position: absolute;
        display: block;
        background-color: white;
        left: 52.75%;
        top: 25%;
        width: 25%;
        margin: 0 auto;
        padding-bottom: 3%;
        border-radius: 1%;
    }
}
@media only screen and (max-width: 500px){
    .form-wraper{
        position: relative;
        display: block;
        background-color: white;
        width: 70%;
        margin: 50% auto;
        padding-bottom: 3%;
        border-radius: 1%;
    }
}

