body {
    margin:0;
    padding:0;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-image: url("images/bakery-background.png");
}

#bakery-logo{
    display: block;
    margin: -50% auto 0 auto;
    position: relative;
}
#bakery-top-left{

}
#login-form {
    position: absolute;
    display: block;
    background-color: white;
    left: 52.75%;
    top: 25.25%;
    width: 26%;
    padding-bottom: 5%;
    border-radius: 1%;
}
.form-control{
    text-align: right;
    background-color:#f0f0f0;
    margin: 0 auto;
    width: 70%;
    padding: 5%;

}
.glyphicon{
    font-size: 1.5em;
}

.btn
{
    background-color:#41cadc;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    display: block;
}
